#output{
    white-space: pre-line;
}
#box{
 background-color: white;
    border-radius: 10px;
    border: 2px solid black;
     width: 250px;
    padding: 15px;

    border: 2px solid black;
    border-radius: 10px;
    background: white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#display{
     color:aqua;
    border-radius: 10px;
    background: red;
    margin-top:10px ;
}
#salary_50k{
     color:aqua;
    border-radius: 10px;
    background: red;
    margin-top:10px ;
}
#department_button{
     color:aqua;
    border-radius: 10px;
    background: red;
    margin-top:10px ;
}
#average{
     color:aqua;
    border-radius: 10px;
    background: red;
    margin-top:10px ;
}
#total{
     color:aqua;
    border-radius: 10px;
    background: red;
    margin-top:10px ;
}

#name{
      width: 80%;
    padding: 10px;
    margin-top: 10px;

    border: 1px solid #ccc;
    border-radius: 8px;

    font-size: 14px;
    outline: none;


}

#empID{
  width: 80%;
    padding: 10px;
    margin-top: 10px;

    border: 1px solid #ccc;
    border-radius: 8px;

    font-size: 14px;
    outline: none;

}

#salary{
      width: 80%;
    padding: 10px;
    margin-top: 10px;

    border: 1px solid #ccc;
    border-radius: 8px;

    font-size: 14px;
    outline: none;


}
#department{
      width: 80%;
    padding: 10px;
    margin-top: 10px;

    border: 1px solid #ccc;
    border-radius: 8px;

    font-size: 14px;
    outline: none;
}

#add_employee{
    color:aqua;
    border-radius: 10px;
    background: red;
    margin-top:10px ;
}
